.bg-blue{
  background-color: rgb(101, 101, 246);

}

.bg-white{
  background-color: rgb(179, 197, 62);
}
.i-5{
  width: 50px;
}
.padding-0{
  padding-right:0;
  padding-left:0;
}

.i-4{
  width: 30px;
  height: 25px;
}

.img-{
  width: -webkit-fill-available;
}

.white-b{
  background-color:white;
}

.right-headers{
  color: gray;
  font-size: 17px;
  font-weight: 500;
}

.img-r{
  width: 70px;
}

.like{
  width: 7%;
}

.comment{
  width: 6%
}

.like-t{
  color: blue;
  font: weight 10%;

}

.neg-mar{
  margin: -12px;
}

.card-img-top{

}